/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
body{
    margin:0;
    font-size: 10px; 
}
nav{
    position:fixed;
    left:0; top: 0;
    border-top: 1px solid lightgray; border-bottom: 1px solid lightgray;
    width:100vw;
    background-color: white;
}
nav img {
    height:10em;
    margin-left:35px;
}
header{
    padding-top: 115px;
    margin-left: 25px;margin-right: 25px;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 7em;
    margin-bottom: 0;
    color: #323747;
}
header p {
    font-size: 4em;
    color:#656775;
    margin:40px auto 40px auto;
}
header input{
    color:#757575;
    border:1px solid #757575;
    border-radius:5px;
    font-size: 3em;
    line-height: 3em;
    margin:30px 0 30px 0;
}
header button{
    color:white;
    background-color: #4049aa;
    border:none;
    font-size: 3em;
    line-height: 3em;
    border-radius:5px;
}
header a{
    color: #9095cd;
}
#company{
    background-color: #f5f5f5;
    text-align: center;
    padding-left: 25px;padding-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid lightgrey;
}
h2{
    font-size: 5.5em;
    color: #323747;
}
#company p{
    color: #a9abb2;
    font-size: 4em;    
}
#company button{
    color:#21329b;
    background-color:white;
    border:1px solid#dddff0;
    font-size: 2.5em;
    line-height: 2.5em;
    border-radius:4px;
    width: 100%;
    font-weight: 600;
}
#company img{
    max-width:60vw;
    height: auto;
    border-bottom:1px solid lightgrey; ;
    ppadding:25px;
}