/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
body{
    margin:0;
    font-size: 7px; 
}
nav{
    position:fixed;
    left:0; top: 0;
    border-top: 1px solid lightgray; border-bottom: 1px solid lightgray;
    width:100vw;
    background-color: white;
}
nav img {
    height:10em;
    margin-left:35px;
}
header{
    padding-top: 75px;
    margin-left: 25px;margin-right: 25px;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 7em;
    margin-bottom: 0;
    color: #323747;
}
.using-slack {
    font-size: 4em;
    color:#656775;
    margin:20px auto 20px auto;
}
.ipt-email{
    color:#757575;
    border:1px solid #757575;
    border-radius:5px;
    font-size: 3em;
    line-height: 3em;
    margin:20px 0 20px 0;
}
.btn-email{
    color:white;
    background-color: #4049aa;
    border:none;
    font-size: 3em;
    line-height: 3em;
    border-radius:5px;
}
.using-slack a{
    color: #9095cd;
}
#company{
    background-color: #f5f5f5;
    text-align: center;
    padding-left: 25px;padding-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid lightgrey;
}
h2{
    font-size: 5.5em;
    color: #323747;
}
#company p{
    color: #a9abb2;
    font-size: 4em;    
}
#company button{
    color:#21329b;
    background-color:white;
    border:1px solid#dddff0;
    font-size: 2.5em;
    line-height: 2.5em;
    border-radius:4px;
    width: 100%;
    font-weight: 600;
}
#company img{
    max-width:60vw;
    height: auto;
    border-bottom:1px solid lightgrey; ;
    padding:25px;
}
#subscribe{
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
}
#subscribe p:first-child{
    margin:40px auto 0 auto;
    font-size: 4em;
    font-weight: 600;
}
#subscribe p:nth-child(2){
    color:black;
}
footer{
    margin-top:60px;
    border-top: 1px solid lightgray;
}
footer > img{
    width: 150px;
    height: auto;
}
#footer-top-div{
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;margin-right: 25px;
}
#footer-top-div ul{
    color: #6d6f7a;
    margin-top: 0;
    padding: 0;
    list-style: none;
    width: 50%;
    font-size: 3em;
    line-height: 2.5em;
}
#footer-top-div ul li:first-child{
    font-weight: 650;
}
#footer-bottom-div{
    background-color:#f5f5f5;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: #6d6f7a;
    font-size: 2em;
}
#footer-bottom-div ul{
    margin-left: auto;margin-right: auto;
    list-style: none;
    padding: 0;
    display: flex;
}
#footer-bottom-div ul li{
    padding:10px;    
}
#footer-bottom-div div{
    display: flex;
    justify-content: center;
    margin:10px;
}
#footer-bottom-div img{
    width: auto;
    height: 2em;
    padding:0 10px 0 10px;
}
#footer-bottom-div span, #footer-bottom-div i{
    line-height: 2em;
    padding:0 10px 0 10px;
}